.navbar {
  padding:  25px 0 40px 55px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 50px;
  overflow: hidden;
  border-bottom: 1px solid hsla(212, 15%, 35%, 1);
  }

  .navbar-image{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 20px;
   

  }

  .navbar ul {
  font-size: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-self: end;
    

    
  }  






  
  

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


  

  @media only screen and (max-width: 720px) { 
    .navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: start;
        top: 55px;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 55px);
        transform: translate(-101%);
        text-align: center;
        overflow: hidden;
      }
  
      .navbar li {
        padding: 15px;
      }
      
      .navbar li:first-child {
        margin-top: 50px;
      }
      
      .navbar li a {
        font-size: 1rem;
      }
       
      .menu-toggle, .bar {
        display: block;
        cursor: pointer;
      }
      
      .mobile-nav {
      transform: translate(0%)!important;
    }

    



    #search-icon {
        display: none;
      }
      
      .search-input {
      display: none;
     }


}
