/* SEARCH FUNCTION */

#search-icon {
    font-size: 20px;
     margin-left: 10px;
    transition: color 0.3s ease-out;
    margin:0 45px;
      
&:hover {
        color: #3498db;
        cursor: pointer;
      }
}
      
      
      
      .search {
        transform: translate(-35%);
        -webkit-transform: translate(-35%);
        transition: transform 0.7s ease-in-out;
        color: #3498db;
      }
      
      .no-search {
        transform: translate(0);
        transition: transform 0.7s ease-in-out;
      }
      
      .search-input {
        position: absolute;
        top: -4px;
        right: -125px;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.6s ease;
      }
      
      .search-active {
        opacity: 1;
        z-index: 0;
      }
      
      input {
        border: 0;
        border-left: 1px solid #ccc;
        
        outline: 0;
        padding: 5px;
      }
      
    