

<footer class="footer">
<div class="footer-wrapper">
        <div  class="footer-brand">
                    
            <img src="../img/Ellipse 3.svg" alt="">
        simple
        <img src="../img/Ellipse 3.svg" alt="">
    </div>
    <ul class="footer-list">
        <li class="footer-item"><a href="#"><img  src="../img/fac.svg" alt=""></a></li>
        <li class="footer-item"><a href="#"><img  src="../img/twi.svg" alt=""></a></li>
        <li class="footer-item"><a href="#"><img  src="../img/ins.svg" alt=""></a></li>
        <li class="footer-item"><a href="#"><img  src="../img/you.svg" alt=""></a></li>
        
      </ul>
</div>
<div class="footer-copy">
    Simple ® 2021
</div>
</footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../js/main.js"> </script>
</body>
</html>